/* Conventions de nommage et CSS de base */

/* Définition des polices personnalisées */


/* Eléments principaux de la page */

html{
    font-size: 62.5%; /* Equivalence 10px sur l'elmt racine */
}

body{
    background-color: #FFF; /* white */
    color: #000; /* black */
    font-family: 'Trebuchet MS',Arial,sans-serif;
    font-size: 1.4em; /* Taille de base pour tous les éléments équivalent à 14 px */
}
/* Attribution des pages */
/* page Sign : Marc */

/* page Home : Laurent */

/* page Account : Thomas */

/* page Help : Aimé */

/* page Transfert : Angélique */
