/* Conventions de nommage et CSS de base */

/* Définition des polices personnalisées */


/* Eléments principaux de la page */

html{
    font-size: 16px;
}

body{
    background-color: #FFF; /* white */
    color: #000; /* black */
    font-family: 'Trebuchet MS',Arial,sans-serif;
}

/* Attribution des pages */

/* page Sign : Marc */
.menu {
    width: 100%;
    position: relative;
}
.StatusBar {
    width: 100%;
    position: absolute;
    z-index: 2;
}
.backgroundSign {
    top: -20rem;
    left: -10rem;
    position: absolute;
    z-index: 1;
}
/* page Home : Laurent */

/* page Account : Thomas */

/* ----- classes utilisées ----- */ 

- 123456789
-
-
-
-
-
-
-


/* ----------------------------- */






/* ----------------------------- */

/* page Help : Aimé */

/* page Transfert : Dialo */
